body{
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
    text-align: center;
}
.container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width:1300px;
  margin: 0 auto;
  align-items: center;
}

.first{
  font-weight: 200;
  margin: 20px auto 0 auto;
}
.second{
  font-weight: 600;
  margin: 20px auto 0 auto;
}
.intro{
    width:550px;
    margin:auto;
  }
.box{
    background-color: #fff;
    padding:30px;
    margin:30px;
    width:280px;
    height: 200px;
    border-radius: 5px;
    
    box-shadow: 0 4px 8px 0 rgba(23, 129, 129, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
  }
.box-red{
  border-top: 6px solid red;
}
.box-cyan{
    border-top: 6px solid cyan;
}
        .box-blue{      
    border-top: 6px solid blue;
}
.box-orange{
    border-top: 6px solid orange;
}
  .data{
    text-align: left; 
}
  h3{
    text-align: left;
} 
.box img{
    display:block;
    margin-left: auto;
}
@media (max-width: 1440px){
    
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
